.team-section {
  text-align: center;
  padding: 10px 20px 60px;
  background: #ffffff;
  font-family: Arial, sans-serif;
}

.subtitle {
  color: #0066ff;
  font-weight: 600;
  margin-bottom: 10px;
}

.title {
  font-size: 32px;
  margin-bottom: 50px;
  color: #1c1c3a;
}

/* Container */
.team-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

/* Card */
.team-card {
  position: relative;
  width: 260px;
  height: 360px;
}

/* Main Shape */
.card-shape {
  position: relative;
  background: #0e1a2b;
  border-radius: 140px 140px 120px 120px;
  height: 100%;
  overflow: hidden;
  z-index: 2;
  border-bottom: 20px solid #F57005 ;
  
}

/* Orange Border 
.card-border {
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  width: 260px;
  height: 140px;
  background: orange;
  border-radius: 0 0 140px 140px;
  z-index: 1;
}
  */

/* Image */
.card-shape img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.25;
}

/* Content */
.card-content {
  position: absolute;
  bottom: 40px;
  width: 100%;
  color: white;
  text-align: center;
  padding: 0 20px;
}

.card-content h3 {
  margin: 0;
  font-size: 20px;
}

.card-content p {
  margin: 5px 0 12px;
  font-size: 14px;
  opacity: 0.9;
}

/* Social Icons */
.social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-icons span {
  width: 28px;
  height: 28px;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.social-icons span:hover {
  background: white;
  color: #0e1a2b;
}
