@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-urbanist: "Urbanist", sans-serif;
  --color-primary: #4F5DE4;
  --color-primaryDark: #121534;
  --color-secondary: #F57005;
  --color-primaryText: #2A254D;
}


html,
body {
  scroll-behavior: auto;
}
